body {

	margin: 0;

	.img-container {

		text-align: center;
		background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;


		span {
			color: white;
			font-size: 40px;
		}
	}

	#c1 {

		background-image: url('assets/52e7f3c4a9048.jpg');

	}

	#c2 {

		// background-color: #808080;
		background-image: url('assets/52e7f4ada757a.jpg');
	}

	#c3 {

		// background-color: #C0C0C0;
		background-image: url('assets/52e7f52442c93.jpg');
	}

	#c4 {

		// background-color: #FFFFFF;
		background-image: url('assets/52e7f56410a4d.jpg');
	}

	#c5 {

		// background-color: #000080;
		background-image: url('assets/52e7f4341555a.jpg');
	}

	#c6 {

		background-color: #0000FF;
	}

	#c7 {

		background-color: #008080;
	}

	#c8 {

		background-color: #00FFFF;
	}

	#c9 {

		background-color: #800080;
	}

	#c10 {

		background-color: #800000;
	}

	#c11 {

		background-color: #FF0000;
	}

	#c12 {

		background-color: #FF00FF;
	}

	#c13 {

		background-color: #008000;
	}

	#c14 {

		background-color: #00FF00;
	}

	#c15 {

		background-color: #808000;
	}

	#c16 {

		background-color: #FFFF00;
	}
}
