.menu-hekkens-container {

				position: fixed;
				top: 10px;
				left: 5px;
				width: 40px;
				z-index: 1001;

				.menu-hekkens {

					cursor: pointer;
					padding-left: 1.25em;
					position: relative;

						width: 25px;
						height: 22px;


					.menu-hekkens-global {

						backface-visibility: hidden;
						position: absolute;
						left: 0;
						border-top: 4px solid black;
						// @media (max-width: 480px) {
						// 	border-top: 2px solid black;
						// }

						width: 100%;
						-webkit-transition: 0.55s;
						-moz-transition: 0.55s;
						-o-transition: 0.55s;
						transition: 0.55s;
					}

					.menu-hekkens-top {

						top: 0;
					}

					.menu-hekkens-middle {


							top: 8px;

					}

					.menu-hekkens-bottom {

						top: 16px;

					}

					.menu-hekkens-top-click {

						backface-visibility: hidden;
						top: 8px;

						-webkit-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						-o-transform: rotate(45deg);
						transform: rotate(45deg);
						-webkit-transition: 0.55s 0.5s;
						-moz-transition: 0.55s 0.5s;
						-o-transition: 0.55s 0.5s;
						transition: 0.55s 0.5s;
					}

					.menu-hekkens-middle-click {

						opacity: 0;
					}

					.menu-hekkens-bottom-click {

						backface-visibility: hidden;

							top: 8px;

						-webkit-transform: rotate(-405deg);
						-moz-transform: rotate(-405deg);
						-o-transform: rotate(-405deg);
						transform: rotate(-405deg);
						-webkit-transition: 0.55s 0.5s;
						-moz-transition: 0.55s 0.5s;
						-o-transition: 0.55s 0.5s;
						transition: 0.55s 0.5s;
					}
				}
			}
