.menu-hekkens-container {
  position: fixed;
  top: 10px;
  left: 5px;
  width: 40px;
  z-index: 1001; }
  .menu-hekkens-container .menu-hekkens {
    cursor: pointer;
    padding-left: 1.25em;
    position: relative;
    width: 25px;
    height: 22px; }
    .menu-hekkens-container .menu-hekkens .menu-hekkens-global {
      backface-visibility: hidden;
      position: absolute;
      left: 0;
      border-top: 4px solid black;
      width: 100%;
      -webkit-transition: 0.55s;
      -moz-transition: 0.55s;
      -o-transition: 0.55s;
      transition: 0.55s; }
    .menu-hekkens-container .menu-hekkens .menu-hekkens-top {
      top: 0; }
    .menu-hekkens-container .menu-hekkens .menu-hekkens-middle {
      top: 8px; }
    .menu-hekkens-container .menu-hekkens .menu-hekkens-bottom {
      top: 16px; }
    .menu-hekkens-container .menu-hekkens .menu-hekkens-top-click {
      backface-visibility: hidden;
      top: 8px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: 0.55s 0.5s;
      -moz-transition: 0.55s 0.5s;
      -o-transition: 0.55s 0.5s;
      transition: 0.55s 0.5s; }
    .menu-hekkens-container .menu-hekkens .menu-hekkens-middle-click {
      opacity: 0; }
    .menu-hekkens-container .menu-hekkens .menu-hekkens-bottom-click {
      backface-visibility: hidden;
      top: 8px;
      -webkit-transform: rotate(-405deg);
      -moz-transform: rotate(-405deg);
      -o-transform: rotate(-405deg);
      transform: rotate(-405deg);
      -webkit-transition: 0.55s 0.5s;
      -moz-transition: 0.55s 0.5s;
      -o-transition: 0.55s 0.5s;
      transition: 0.55s 0.5s; }

.level-2 {
  padding-top: 10px;
  text-align: center;
  max-height: 0;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
  overflow: hidden; }
  .level-2.active {
    max-height: 320px; }
  .level-2 frame, .level-2 h2 {
    margin-bottom: 20px; }

html,
body {
  height: 100%; }

#main header {
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid black;
  text-align: center; }
  #main header h1 {
    display: inline-block;
    margin: 0; }
#main nav {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  border: 1px solid red;
  overflow-y: scroll;
  max-height: 100%; }
  #main nav #lvl1-slider {
    border: 1px solid yellow; }

.frame {
  width: 100%;
  height: 80px;
  padding: 0; }

.frame .slidee {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none; }

.frame .slidee li {
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  width: 60px;
  height: 100%;
  text-align: center;
  line-height: 80px; }
  .frame .slidee li.active {
    color: red; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

#menu {
  padding-top: 10px;
  text-align: center;
  max-height: 0;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
  overflow: hidden;
  border: 1px solid blue; }
  #menu.active {
    max-height: 200px; }
  #menu hr {
    width: 80%; }
  #menu a {
    color: black;
    text-decoration: none; }
