body {
	font-size: 14px;
	min-height: 700px;
	max-width: 1000px;
	margin: 0 auto;
	border-left: 1px solid #BFBFBF;
	border-right: 1px solid #BFBFBF;
	height: 100vh;
	position: relative;
	color: #CACACA;

	a {
		color: #CACACA;

		&:hover {
			text-decoration: none;
			color: #858585;
		}
		&.active {
			color: #858585;
		}
	}

	header {
		background-color: #F0F0F0;
		border-bottom: 1px solid #BFBFBF;
		height: 160px;

		img {
			padding: 20px;
			height: 100%;
			width: auto;
		}
	}

	> nav {
		background-color: #F0F0F0;
		border-bottom: 1px solid #BFBFBF;
		height: 40px;

		ul {
			padding-left: 20px;
			padding-top: 10px;
			li {
				display: inline-block;
			}
		}
	}

	main {
		background-color: #F0F0F0;
		height: calc(100% - 350px);

		> nav {
			height: 100%;
			border-right: 1px solid #BFBFBF;

			ul {

				padding-left: 10px;
				li {
					padding-top: 15px;
					display: block;
				}
			}
		}

		article {
			display: none;
			height: 100%;
			color: #858585;
			overflow-y: auto;
			h1,
			p {
				padding-left: 15px;
				padding-right: 15px;
			}
			&.active {
				display: block;
			}
		}
	}

	footer {
		background-color: #F0F0F0;
		position: absolute;
		bottom: 0px;
		height: 150px;
		border-top: 1px solid #BFBFBF;
		left: 10px;
		right: 10px;
		margin-left: 0;
		margin-right: 0;
	}
}
