#overlay {
  pointer-events:none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  position: absolute;
  border: 20px solid black;

  .logo {
    width: 100%;
    margin-top: 50px;
    text-align: center;

    img {
      width: 10%;


      /* iPads (portrait) ----------- */
      @media only screen
      and (min-device-width : 768px)
      and (max-device-width : 1024px)
      and (orientation : portrait) {
        width: 7%;
      }

      /* Desktops and laptops ----------- */
      @media only screen
      and (min-width : 1024px) {
        width: 5%;
      }

    }
  }

  .pager {

    p {
      font-size: 50px;
      color: white;
      text-shadow:
     -4px -4px 0 #000,
      4px -4px 0 #000,
      -4px 4px 0 #000,
       4px 4px 0 #000;
    }

  }

  .play {
    display: none;
    pointer-events: visible;
    width: 100%;
    margin-top:260px;
    text-align: center;
    cursor: pointer;

    img {
      width: 15%;
    }
  }

  .result {
    display: none;
    width: 100%;
    margin-top: 300px;
    text-align: center;



    h3 {
      font-size: 35px;
      font-family: helvetica;
      background-color: white;
      margin-bottom: -20px;
      margin-left: auto;
      margin-right: auto;
      font-weight: 600;
      position: relative;
      z-index: 201;
      width: 35%;
    }

    p {
      margin: 0 auto;
      padding: 15px;
      width: 90%;
      border-top: solid 5px black;
      border-bottom: solid 5px black;
      font-size: 35px;
      font-family: helvetica;
      font-weight: 600;
    }
  }

  .selector {
    display: none;
    width: 100%;
    position: absolute;
    top: 80%;
    height: 60px;
    left: 0;
    font-size: 25px;
    font-family: helvetica;

    .center {
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
    }

    .left,
    .right {

      text-align: center;
      width: 50%;
      float: left;
    }

    .active {
      text-decoration: underline;
    }
  }

  .swipe-start {

    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-family: helvetica;

    p {
      margin-bottom: 10px;
    }

    img {
      width: 30px;
    }
  }
}
