body {
  margin: 0; }
  body .img-container {
    text-align: center; }
    body .img-container span {
      color: white;
      font-size: 40px; }
  body #c1 {
    background-color: #000000; }
  body #c2 {
    background-color: #808080; }
  body #c3 {
    background-color: #C0C0C0; }
  body #c4 {
    background-color: #FFFFFF; }
  body #c5 {
    background-color: #000080; }
  body #c6 {
    background-color: #0000FF; }
  body #c7 {
    background-color: #008080; }
  body #c8 {
    background-color: #00FFFF; }
  body #c9 {
    background-color: #800080; }
  body #c10 {
    background-color: #800000; }
  body #c11 {
    background-color: #FF0000; }
  body #c12 {
    background-color: #FF00FF; }
  body #c13 {
    background-color: #008000; }
  body #c14 {
    background-color: #00FF00; }
  body #c15 {
    background-color: #808000; }
  body #c16 {
    background-color: #FFFF00; }
